@import './mixins';

.filters {
	display: flex;
	gap: 20px;
	justify-content: flex-start;
	align-items: center;
	margin-left: 53px;

	@include respond-to(medium) {
		margin-left: 0;
	}

	@include respond-to(small) {
		margin-left: 0;
		flex-wrap: wrap;
		gap: 10px;
	}
}

.select {
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 16px;
	width: 200px;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.select:focus {
	outline: none;
	border-color: $main-color;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.dateInput {
	line-height: 24px;
	padding: 0 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 12px;
	width: 130px;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	color: darkcyan;

	&:focus {
		outline: none;
		border-color: $main-color;
		box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
	}
}

.dateInput.dateSelected {
	color: black;
}