.personalization {
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 1px solid #ddd;
	background-color: #f9f9f9;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
	margin-bottom: 20px;
	font-size: 24px;
	color: #333;
}

.filtersContainer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
}


.input {
	display: inline-flex;
	font-size: 16px;
	line-height: 28.5px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding-left: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

	&::placeholder {
		color: black;
		opacity: 1;
	}
}

.applyButton {
	flex-basis: 100px;
	padding: 9px 20px;
	background-color: #007BFF;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: #0056b3;
	}
}